body
{
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background-color: #ffffff;
}
hr
{
	border-top: #cccccc 0px solid;
	border-bottom: #DCD9CE 1px solid;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 1px;
}
table
{
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	font-family: Verdana, Arial, Sans-Serif;
	color: #342d30;
	font-size: 82%;
}
table.article
{
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: 32px;
	margin-right: 64px;
	margin-bottom: 1.5em;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 100%;
	text-align: left;
}
tr.header
{
	background-color: #ecebc2;
}
tr.body
{
	background-color: #fffff4;
}
td.sidebar
{
	border-right: #DCD9CE 1px solid;
	padding-right: 2px;
	font-size:100%;
}
p
{
	margin-top: 0.2em;
	margin-bottom: 1em;
}
A:link 
{
	color: #660a00
}
A:visited 
{
	color: #330a33
}
A:active
{
	color: #ff0000
}
.cell
{
	margin-top: 0em;
	margin-bottom: 0em;
}
.nav
{
	color: #4a545e;
	font-size: 80%;
	margin-top: 0em;
	margin-bottom: 0.1em;
	text-indent: -8px; 
	margin-left: 8px
}
.splash
{
	color: #999966;
	font-size: 85%;
}
.update
{
	color: #4a545e;
	font-size: 80%;
	margin-top: 0em;
	margin-bottom: 0.7em;
	margin-left: 8px
}
.tipHeader
{
	background-color: #a5b5c9;
	color: #ffffff;
	margin-left: 32px;
	margin-right: 64px;
	margin-bottom: 0em;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-collapse: collapse;
}
.tip
{
	margin-top: 0px;
	margin-left: 32px;
	margin-right: 64px;
	margin-bottom: 1em;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
	border-right: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	border-collapse: collapse;
}
.indent
{
	margin-left: 32px;
	margin-right: 64px;
}
p.equation
{
	font-family: "Times New Roman", Times;
	color: #6c5958;
	margin-left: 32px;
	margin-right: 64px;
}
.code
{
	font-family: "Andale Mono", "Lucida Console", Courier;
	color: #6c5958;
}
.strong
{
	font-weight: bold;
}
.i
{
	font-style: italic;
}
.caption
{
	padding-top: 4px;
	font-weight: bold;
	font-size: 85%;
}
h1
{
	margin-bottom: 0.5em;
	color: #EEEEEE;
	background-color: #6c5958;
	height: 21px;
	text-indent: 4px;
	font-size: 125%;		
	font-family: Tahoma, Verdana, Arial, Sans-Serif
}
h1.highlight
{
	margin-bottom: 0.5em;
	color: #EEEEEE;
	background-color: #CCC1C0;
	height: 21px;
	text-indent: 4px;
	font-size: 125%;		
	font-family: Tahoma, Verdana, Arial, Sans-Serif
}
h2
{
	margin-bottom: 0.5em;
	font-size: 120%;
	font-family: Tahoma, Verdana, Arial, Sans-Serif
}
h3
{
	margin-bottom: 0.5em;
	font-size: 110%;
	font-family: Tahoma, Verdana, Arial, Sans-Serif
}
h4
{
	margin-bottom: 0.5em;
	font-size: 105%;
	font-family: Tahoma, Verdana, Arial, Sans-Serif
}
pre
{
	font-family: "Andale Mono", "Lucida Console", Courier;
	font-size: 95%;
	color: #6c5958;
}
img
{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
}
form
{
	font-family: Verdana, Arial, Sans-Serif;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
input
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 85%;
}
.search
{
	width: 125px;
}